@import "../../../../../app";

.ga-full-screen .form-browser {
  top: 0;
  bottom: 0;
}

.form-browser {
  position: absolute;
  top: unit(@small-header-height, px);
  bottom: unit(@footer-height, px);
  left: 0;
  width: 320px;
  overflow-y: auto;
  background: white;
  border-right: 1px solid #bdbdbd;
  .box-shadow(6px 6px 12px rgba(0, 0, 0, 0.175));
  z-index: 1001; // above the pulldown

  .panel-group {
    margin: 0;

    .panel {
      margin: 0 0 -1px 0;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    padding-bottom: 8px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .form-inline .form-group {
    width: 30%;
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }

    .form-control {
      width: 100%;
    }

    select {
      padding: 5px;
    }
  }

  .icon {
    cursor: pointer;
  }

  .metadata {
    padding: 15px 15px 0 15px;
  }

  .help-inline {
    font-size: .8em;
    font-weight: normal;
    color: @state-danger-text;
  }

  .actions {
    text-align: center;
  }
}
