<a href="#drawTools"
   ng-click="ctrl.requestEditMode()"
   class="panel-heading accordion-toggle collapsed"
   data-toggle="collapse"
   data-parent="#pulldown-content">

    <i class="visible-collapsed icon-caret-right spacer"></i>
    <i class="hidden-collapsed icon-caret-down"></i>
    <i class="icon-ga-mapfunction"></i>
    <span translate>Draw features</span>
</a>

<div id="drawTools" class="panel-body panel-body-wide panel-collapse collapse">
    <ul>
        <li ng-click="ctrl.selectedItem = ctrl.featureType.SEWER">
            <i class="icon-ga-line"></i>
            <a ng-class="{ selected: ctrl.selectedItem === ctrl.featureType.SEWER }">
                Draw sewer
            </a>
        </li>
        <li ng-click="ctrl.selectedItem = ctrl.featureType.APPURTENANCE">
            <i class="icon-ga-point"></i>
            <a ng-class="{ selected: ctrl.selectedItem === ctrl.featureType.APPURTENANCE }">
                Place appurtenance
            </a>
        </li>
    </ul>
</div>
