<div id="formBrowser" class="panel-group" role="tablist" aria-multiselectable="true">
    <section class="panel panel-default" ng-repeat="feature in ctrl.features">

        <header class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   data-parent="#formBrowser"
                   href="#featureForm_{{feature.key}}"
                   aria-expanded="true"
                   aria-controls="collapseOne">
                    {{feature | epFeatureLabel}}
                </a>
            </h4>
        </header>

        <section id="featureForm_{{feature.key}}" role="tabpanel"
                 class="panel-collapse collapse" ng-class="{in: $first}">

            <div ep-sewer-form
                 ng-if="feature.layerBodId | epIsFeatureType: ctrl.featureType.SEWER"
                 data="feature"
                 class="panel-body">
            </div>
            <div ep-appurtenance-form
                 ng-if="feature.layerBodId | epIsFeatureType: ctrl.featureType.APPURTENANCE"
                 data="feature"
                 class="panel-body">
            </div>

        </section>

    </section>
</div>
