<label>
    Source
    <select ng-model="selectedSource"
            ng-options="source as source.label for source in sources">
    </select>
</label>

<label>
    Source ID
    <input type="text" ng-model="data.alternatieveId"/>
</label>

<label>
    Label
    <input type="text" ng-model="data.label"/>
</label>

<label>
    Diameter
    <div class="input-group">
        <input type="text" min="250" max="3200" maxLength="4" class="form-control"
               ng-model="data.diameter"/>
        <span class="input-group-addon">mm</span>
    </div>
</label>

<label>
    Pressure
    <div class="input-group">
        <input type="text" min="0.1" max="15" maxLength="2" step="0.01" class="form-control"
               ng-model="data.pressure"/>
        <span class="input-group-addon">bar</span>
    </div>
</label>

<label>
    Sewer type
    <select ng-model="selectedType"
            ng-options="type as type.label for type in types">
    </select>
</label>

<label>
    Water type
    <select ng-model="selectedWaterType"
            ng-options="type as type.label for type in waterTypes">
    </select>
</label>

<label>
    Status
</label>
