<div class="form-group">
    <label for="statusTypeInput_{{$index}}" class="sr-only" >
        Type
    </label>
    <select id="statusTypeInput_{{$index}}" name="statusType"
            placeholder="Status" class="form-control"
            ng-model="ctrl.selectedStatus"
            ng-options="type as type.label for type in ctrl.types">
    </select>
</div>

<div class="form-group">
    <label for="statusStartInput_{{$index}}" class="sr-only" >
        Start
    </label>
    <input id="statusStartInput_{{$index}}" name="statusStart" type="date"
           placeholder="Start" class="form-control"
           ng-model="ctrl.data.geldigVanaf"/>
</div>

<div class="form-group">
    <label for="statusEndInput_{{$index}}" class="sr-only" >
        End
    </label>
    <input id="statusEndInput_{{$index}}" name="statusEnd" type="date"
           placeholder="End" class="form-control"
           ng-model="ctrl.data.geldigTot"/>
</div>
