<div class="btn-group" role="group">
    <button type="button" ng-click="ctrl.move()"
            class="btn btn-default">
        M<span>ove</span>
    </button>
    <button type="button" ng-click="ctrl.cut()"
            class="btn btn-default">
        C<span>ut</span>
    </button>
    <button type="button" ng-click="ctrl.add()"
            class="btn btn-default">
        A<span>dd</span>
    </button>
    <button type="button" ng-click="ctrl.remove()"
            class="btn btn-default">
        R<span>emove</span>
    </button>
</div>

<span>Edit geometry</span>
