<div class="btn-group" role="group">
    <button type="button" ng-click="ctrl.modify()"
            class="btn btn-default">
        <i class="icon modify-geometry"></i>
    </button>
    <button type="button" ng-click="ctrl.split()"
            class="btn btn-default">
        <i class="icon split-geometry"></i>
    </button>
    <button type="button" ng-click="ctrl.merge()"
            class="btn btn-default">
        <i class="icon merge-geometry"></i>
    </button>
</div>

<span>Edit geometry</span>
