<div class="input-group">
    <span title="Feature snapping" class="input-group-addon">
        <i class="icon icon-snapping"></i>
    </span>

    <div class="form-control resolution-group">
        <input ng-hide="ctrl.useRange" ng-disabled="ctrl.noneSelected()"
               type="text" maxlength="2" ng-model="ctrl.snapResolution"/>
        <input ng-show="ctrl.useRange" ng-disabled="ctrl.noneSelected()"
               type="range" min="1" max="150" step="1" ng-model="ctrl.snapResolution"/>
        <span ng-show="ctrl.useRange">{{ctrl.snapResolution}}</span>
        <span>px</span>
    </div>

    <div class="btn-group" role="group">
        <button type="button"
                title="No snapping"
                ng-click="ctrl.selectNoSnapping()"
                class="btn btn-default"
                ng-class="{selected: ctrl.noneSelected()}">
            <i class="icon icon-no-snapping"></i>
        </button>

        <button type="button"
                title="Move endpoint"
                ng-click="ctrl.selectMergeMode()"
                class="btn btn-default"
                ng-class="{selected: ctrl.mergeSelected()}">
            <i class="icon icon-merge-snapping"></i>
        </button>

        <button type="button"
                title="Add segment"
                ng-click="ctrl.selectAddMode()"
                class="btn btn-default"
                ng-class="{selected: ctrl.addSelected()}">
            <i class="icon icon-add-snapping"></i>
        </button>

        <button type="button"
                title="Ask me every time"
                ng-click="ctrl.selectInteractiveMode()"
                class="btn btn-default"
                ng-class="{selected: ctrl.interactiveSelected()}">
            <i class="icon icon-interactive-snapping"></i>
        </button>
    </div>
</div>
