@import "../../../../../../style/app";

#pulldown {

  ul {
    padding: 0;
  }

  .snapping .panel-body {
    max-height: 190px;
  }

  .draw li,
  .snapping li {
    display: block;
    cursor: pointer;
    padding: 0 1.1em 0 1.1em;
    height: 3em;

    input {
      display: inline-block;
      margin: 0 10px 0 15px;
    }

    input[type=range] {
      width: 140px;
      vertical-align: top;
      margin-top: 1px;
    }

    input[type=text] {
      width: 50px;
    }

    .selected,
    .selected:hover {
      color: red;
    }

    i {
      float: right;
      width: 36px;
      height: 36px;
      font-size: 3em;
      line-height: 36px;
    }
  }

  [ep-edit-actions] {
    text-align: center;
    padding: 4px;

    .btn {
      margin: 3px;
    }
  }
}
