<a href
   ng-if="ctrl.hasPermission"
   ng-click="ctrl.toggle()"
   class="panel-heading accordion-toggle collapsed">

    <i class="icon-arrow-up"></i>
    <span translate>Import GML</span>
</a>

<div ga-popup="ctrl.open"
     ga-popup-options="{title:'Import GML file', help:'64'}"
     ga-draggable=".ga-popup-title"
     class="gml-import-popup">

    <div class="input-group">
        <input type="text" readonly
               class="form-control"
               placeholder="{{'Select a file to upload' | translate}}"
               value="{{ctrl.label}}"/>

        <span class="input-group-btn">
            <span ng-file-select
                  ng-model="ctrl.files"
                  ng-file-change="ctrl.upload()"
                  ng-multiple="false"
                  ng-accept="'.xml'"
                  class="btn btn-primary">
                Upload
            </span>
        </span>
    </div>

    <div ng-if="ctrl.file && !ctrl.complete" class="progress">
        <div role="progressbar"
             style="width: {{ctrl.progress}}%"
             class="progress-bar progress-bar-info progress-bar-striped active">

            <span>
                Upload: {{ctrl.progress}}%
                <span ng-show="ctrl.progress === 100"> - Validating...</span>
            </span>
        </div>
    </div>

    <div ng-if="ctrl.complete && ctrl.valid" class="alert alert-success" role="alert">
        {{ctrl.file.name}} successfully uploaded and validated.
    </div>

    <div ng-if="ctrl.complete && !ctrl.valid" class="alert alert-danger" role="alert">
        Validation of {{ctrl.file.name}} failed. Please check the list of validation results on the side of the screen.
    </div>

    <div ng-if="ctrl.error" class="alert alert-danger" role="alert">
        Upload failed. Please verify that it is a valid GML file.
        <ul>
            <li><strong>Error:&nbsp;</strong>{{ctrl.error.type}}</li>
            <li><strong>Message:&nbsp;</strong>{{ctrl.error.message}}</li>
        </ul>
    </div>

    <div ng-if="ctrl.error" class="alert alert-info" role="alert">
        <ul>
            <li><strong>File name:&nbsp;</strong>{{ctrl.error.file.name}}</li>
            <li><strong>File type:&nbsp;</strong>{{ctrl.error.file.type}}</li>
            <li><strong>File size:&nbsp;</strong>{{ctrl.error.file.size}} kB</li>
        </ul>
    </div>

</div>
