#toptools {
  // problem reporting
  a:nth-child(3),
  // mobile version
  a:nth-child(5) {
    display: none;
  }
}

#pulldown {
  .panel.print,
  .panel.share,
  .panel.geocatalog,
  .panel.tools {
    display: none;
  }
}

.ga-layer-remove, {
  display: none;
}
