<a ng-if="ctrl.loggedIn" href class="dropdown-toggle" data-toggle="dropdown">
    <img ng-src="{{ctrl.avatar}}">
</a>

<ul class="dropdown-menu" role="menu"
    ng-click="ctrl.handleDropDownClick($event)">

    <div class="dropdown-caret right">
        <span class="caret-outer"></span>
        <span class="caret-inner"></span>
    </div>

    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#"
           ng-click="ctrl.logout()">
            Log out
        </a>
    </li>

</ul>
