<div id="formBrowser" class="panel-group" role="tablist" aria-multiselectable="true">
    <section class="panel panel-default" ng-repeat="feature in ctrl.features">

        <header class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   data-parent="#formBrowser"
                   href="#featureForm_{{feature.key}}"
                   aria-expanded="true"
                   aria-controls="collapseOne">
                    {{feature | epFeatureLabel}}
                </a>
            </h4>
        </header>

        <section id="featureForm_{{feature.key}}" role="tabpanel"
                 class="panel-collapse collapse" ng-class="{in: $first}">

            <div ep-edit-tools class="edit-tools"></div>

            <form ep-sewer-form name="form" novalidate
                  ng-if="feature.layerBodId | epIsFeatureType: ctrl.featureType.SEWER"
                  data="feature"
                  class="panel-body">
            </form>
            <form ep-appurtenance-form name="form" novalidate
                  ng-if="feature.layerBodId | epIsFeatureType: ctrl.featureType.APPURTENANCE"
                  data="feature"
                  class="panel-body">
            </form>

        </section>

        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   data-parent="#formBrowser"
                   href="#network"
                   aria-expanded="true"
                   aria-controls="collapseOne">
                    Feature network
                </a>
            </h4>
        </div>

        <section id="network" role="tabpanel"
                 class="panel-collapse collapse">

            <div>
                <strong>Start node:</strong>
                <a href>{{feature.properties.startKoppelPuntId}}</a>
            </div>
            <div>
                <strong>End node:</strong>
                <a href>{{feature.properties.endKoppelPuntId}}</a>
            </div>
            <div>
                <strong>Node:</strong>
                <a href>{{feature.properties.koppelPuntId}}</a>
            </div>
            <div>
                <strong>Connected sewers:</strong>
                <ul>
                    <li>
                        <a href>sewer id</a>
                    </li>
                </ul>
            </div>
            <div>
                <strong>Connected appurtenances:</strong>
                <ul>
                    <li>
                        <a href>appu id</a>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</div>
